#buttons{
    margin-left: 40px;
}

#leftSideDiv{
    float: left;
}

#rightSideDiv{
    margin-top: 20px;
}

#textArea{
    margin-left: 30px;
    width: 600px;
    height: 190px;
}

#list{
    list-style-type: none;
    overflow: auto;
    width: 200px;
    height: 200px;
}